
img {

    width:1080px

}


.vertical {

    max-width: 30%;
    transition: 1s;


}

.horizontal {

    max-width: 60%;
    transition: 1s;

}

.horizontal:hover {

    transition: 1s;
    max-width: 65%;

}

.vertical:hover {

    max-width: 35%;
    transition: 1s;


}