
img {

    width:1080px

}


.vertical {

    max-width: 30%;
    transition: 1s;


}

.horizontal {

    max-width: 60%;
    transition: 1s;

}


@media screen and (max-width: 768px) {


    .horizontal {

        max-width: 100%;

    }

    .vertical {

        max-width: 70%;

    }


    
}

