@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto+Slab&display=swap');

html {

    margin: 0px 320px
}

body {

    max-width: 100%;
    font-family: 'abel';
    text-align: center;
    
}

ul {

    margin: 0px;
    border: 0px;
   padding: 0px;
   min-width: 91%;
   
   
   background-color: rgb(41, 41, 41);
}


ul, li {

display: inline-block;

}

li {

    margin: 10px 20px 10px 20px;
    color: whitesmoke;
}

a{
    
    text-decoration: none;
    color: black;
    transition: 0.3s;
    
    }

li:hover {

    
    transition: 0.5s;
    color: black;
    background-color: #646464;
    border-radius: 3px;
   
}

li a {

    margin: 10px 10px 10px 10px;
    color: whitesmoke;
    text-decoration: none;
    transition: 0.3s;
}

li a:hover {

    transition: 0.5s;
    color: whitesmoke;



}

h1{
    font-family: 'roboto slab';
    font-weight: bolder;
    margin: 16px;
    transition: 0.5s;


}

h1:hover{
    font-family: 'roboto slab';
    font-weight: bolder;
    transition: 0.5s;
    background-color: black;
    color: whitesmoke;
    padding: 5px 10px;

}

.contacto-foto {

    max-width: 20%;
    margin: 0px 0px 20px 0px;

}


@media (max-width: 1600px) {

    html {
   
       margin: 0px 20px
   }


   }

@media (max-width: 600px) {

    html {
   
       margin: 0px 0px
   }

   }

@media (max-width: 900px) {

 html {

    margin: 0px 0px
}

.contacto-foto {

    display: none;

}

}

@media (max-width: 600px) {

    ul {
   
       padding: 0px;
       margin: 0px;
   }

   li {

    margin: 5px 0px;

   }

   li a {

    font-size: 14px;

   }


}