@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto+Slab&display=swap');

body {

    max-width: 100%;
    font-family: 'abel';
    text-align: center;
    
}

ul {

     margin: 0;
     border: 0;
    padding: 0;
    min-width: 100%;
    
    background-color: rgb(41, 41, 41);
}

ul, li {

display: inline-block;

}

li {

    margin: 10px 20px 10px 20px;
    color: whitesmoke;
}

a{

    text-decoration: none;
    color: black;
    transition: 0.3s;
    
    }

a:hover {

    transition: 0.3s;
    margin: 10px 15px 10px 15px;
    color: cyan;


}

li a {

    margin: 10px 10px 10px 10px;
    color: whitesmoke;
    text-decoration: none;
    transition: 0.3s;
}


div{

    margin: 20px 0px 0px 0px;
    display: inline-block;
    vertical-align:top;
}

h1{
    font-family: 'roboto slab';
    font-weight: bolder;
    margin: 16px;
    transition: 0.5s;


}

h1:hover{
    font-family: 'roboto slab';
    font-weight: bolder;
    transition: 0.5s;
    background-color: black;
    color: whitesmoke;
    padding: 5px 10px;

}




.contacto-foto {
    
    
    max-width: 20%;
    margin: 0;
    padding: 0px 50px;
    
   
   
}

form {

    max-width: 20%;
    display: inline-block;

}

